@layer base {
  html {
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html,
  body,
  #__next {
    min-height: calc(
      100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom)
    );
  }
}

/* Custom progress bar styling */
progress {
  appearance: none;
}

/* For Firefox */
progress::-moz-progress-bar {
  background-color: #6b7280;
}

progress[value^='800']::-moz-progress-bar {
  background-color: #f0d065;
}

/* For Chrome/Safari */
progress::-webkit-progress-bar {
  background-color: #1f2937;
  border-radius: 2px;
}

progress::-webkit-progress-value {
  background-color: #6b7280;
  border-radius: 2px;
}

progress[value^='800']::-webkit-progress-value {
  background-color: #f0d065;
}
